# Maven
target/
*.log
*.class
*.jar
*.war
*.ear
dependency-reduced-pom.xml

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Reports
test-output/
allure-results/
allure-report/
extent-report/

# Others
.settings/
.project
.classpath
.vscode/
